.dvdItem{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 2rem 0 1rem 0;
  background-color: white;
  padding: 1rem;
  border-radius: 5px;
}

.content{
  display: flex;
  flex-direction: row;
  flex-grow: 2;
}

.image{
  width: 200px;
  max-width: 100px;
}

.image img{
  width: 100%;
}

.product{
  padding-left: 1rem;
}

.product h3{
  margin: 0
}

.price-stock{
  display: flex;
  justify-content: space-between;
  flex-grow: 2;
}

.price-stock p{
  font-size: large;
}

.buttonContainer{
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.buttonContainer button{
  padding: 0.5rem 2rem;
  cursor: pointer;
  border: none;
  border-radius: 7%;
}

button:hover{
  background-color:lavender;
}

