@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1+Code:wght@100;200;500&family=Source+Code+Pro:wght@200&display=swap");

body {
  font-family: sans-serif;
  background-color: whitesmoke;
}

h1,
h2 {
  color: white;
  position: center;
}
.title {
  font-family: "M PLUS 1 Code", sans-serif;
  font-size: medium;
  text-align: center;
  flex-grow: 1;
}

.navBar {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  width: 100vw;
  display: flex;
  background-color: #3e4fb2;
  flex-direction: row;
  align-items: center;
}

.navBarItemContainer {
  display: flex;
  justify-content: space-evenly;
  flex-grow: 2;
}

.navBarItem {
  display: flex;
  justify-content: space-between;
  height: 34px;
  float: left;
}
.navBarItem input[type="search"] {
  border-radius: 3px;
  border: none;
  padding-left: 1rem;
}

.navBarItem select {
  appearance: none;
  border-radius: 3px;
  border: none;
  background: url("./images/arrow-down.png") white no-repeat;
  padding: 0 24px 0 10px;
  background-size: 20px;
  background-position: center right;
}

.btn {
  font: inherit;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  border-radius: 4px;
  background-color: #800040;
  color: white;
  border: 1px solid #800040;
  margin: 0 1rem;
}

.btn:hover {
  background-color: #9c1458;
  border-color: #9c1458;
}

.btn-alt {
  background-color: transparent;
  color: #800040;
}

.btn-alt:hover {
  background-color: #f8dae9;
}

.actions {
  text-align: right;
}

.modal {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  background-color: white;
  padding: 1rem;
  text-align: center;
  width: 30rem;
  z-index: 10;
  position: fixed;
}

.backdrop {
  position: fixed;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.75);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}
